* {
    font-family: Helvetica;
}

/* .slow-entrance{
    -webkit-animation: mymove 5s ; Safari 4.0 - 8.0 */
    /* animation: mymove 5s ;
}
@-webkit-keyframes mymove {
    from {top: 150px;}
    to {top: 200px;}
  }

  @keyframes mymove {
    from {top: 150px;}
    to {top: 200px;}
  } */
/* Centered text in header*/
.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: aliceblue;
    top: 200px;
    font-family: 'Varela Round', sans-serif;
}
.fade-in {
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  } 

/* Campus front page image*/
#frontImg {
   width:100%; 
   border-radius:10px;
   -webkit-filter: brightness(0.50);
   filter: brightness(0.50);
   margin-top: 80px;
}

a {
    color: #ffffff;
}

.navbar {
    background-color: #000;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Empty divider for sections*/
.divder {
    padding-top: 20px;
    width: 100%;
}

.card {
    border: none;
}

footer {
    bottom: 0;
    text-align: center;
    background-color: #000;
    color: white;
    font-size: 10px;
    padding-bottom: 30px;
}

/* Contact us icon links*/
.icons {
    font-size: 20px;
    padding: 20px;
}

h4 {
    font-size: 28px;
    font-family: Helvetica;
}

h3 {
    font-family: Helvetica;
    font-weight: bolder;
}

h5 {
    font-size: 1rem;
    font-weight: bolder;
    font-family: Helvetica;
}

#infoContent {
    font-size: 1rem;
    text-align: center;
    font-family: Helvetica;
}

.card-img-top {
    width: 80%;
    text-align: center;
}

.card{
    text-align: center;
}

#about-us {
    font-size: 1rem;
    font-family: Helvetica;
    color: #000000;
    text-align: left;
}

#about-us-signup {
    font-size: 18px;
    font-family: Helvetica;
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}

.img-fluid {
    border-radius: 40px;
    margin: 10px;
}  

.navbar-brand {
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
}

.nav-link {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

#searchPageImg {
    margin-top: 80px;
    width: 100%;
}

@media only screen and (min-width: 550px) {
    .img-fluid {
        float: left;
        height: 200px;
        width: 250px;
    }
    .float-right {
        float: right;
    }
    h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 551px) {

    .img-fluid {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        font-size: 18px;
    }
}